/* PC用CSS(デフォルト) */
* {
  color: #333;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

/* 汎用クラス */
h2 {
  font-size: 24px;
  font-family: "Raleway";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* ヘッダー(配置) */
.header_area {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
}

.header_content {
  width: 1100px;
  height: 70px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

/* ヘッダー(デザイン) */
.header_content i {
  color: #4e4e4e;
  font-size: 40px;
}

.button {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  color: #333;
}

.header_content > .button {
  margin-left: auto;
  align-items: center;
  padding: 14px 12px;
}

/* メイン */
/* 背景色 */
.title_area {
  background-color: #f2f2f2;
}

.about_area {
  background-color: #74cfae;
}

.works_area {
  background-color: #f2f2f2;
}

.skills_area {
  background-color: #4e4e4e;
}

.icon_area {
  background-color: #f2f2f2;
}

main {
  margin-top: 70px;
}

/* 各エリアデザイン */
/* タイトルエリア */
.title_content {
  padding: 250px 0;
}

.title_content h1 {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: "Raleway";
}

.sub_title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

/* アバウトエリア */

.about_content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about_img {
  margin-left: 100px;
}

.about_box {
  text-align: center;
  width: 700px;
}

.about_box > h2 {
  margin-top: 20px;
  color: #fff;
}

.about_box > p {
  margin-top: 35px;
  font-size: 20px;
  line-height: 1.5em;
  color: #fff;
}

/* ワークスエリア */
.works_area_inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.works_area_inner > h2 {
  text-align: center;
  font-weight: 300;
}

.works_main_content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.works_main_content li {
  margin-right: 100px;
  margin-bottom: 80px;
  opacity: 0.7;
  transition: 0.3s;
}

.works_main_content li:nth-child(n + 4) {
  margin-bottom: 0;
}

.works_main_content li:hover {
  opacity: 1;
}

.works_main_content li:nth-child(3n) {
  margin-right: 0;
}

.works_img {
  display: block;
}

.works_img img {
  vertical-align: bottom;
}

.works_sub_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.works_sub_content > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  text-align: center;
  width: 550px;
}

.works_sub_content > .button {
  margin-left: 90px;
  padding: 14px 20px;
}

/* スキルスエリア */
.skills_area_inner {
 padding: 70px 0 100px;
}

.skills_area .inner > h2 {
  color: #fff;
  text-align: center;
}

.skills_content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.skills_content .skill_box {
  margin-right: 180px;
}

.skills_content .skill_box:last-child {
  margin-right: 0;
}

.skill_box p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

/* アイコンエリア */
.icon_content {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.icon {
  width: 185px;
  text-align: center;
  transition: 0.3s;
}

.icon a {
  padding: 30px 0;
  display: block; /* 当たり判定拡大 */
}

.icon a i {
  color: #74cfae;
  font-size: 50px;
}

.icon:hover {
  background-color: #fff;
}

/* フッター */

.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px 0;
  text-align: end;
  color: #fff;
}

/* タブレット用CSS */
@media screen and (max-width:1199px) {
  /* 共通 */
  .inner {
    width:  90%;
    margin: 0 auto;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  /* ヘッダー */
  /* タイトルエリア */
  /* アバウトエリア */
  .about_content {
    padding: 50px 0 25px;
  }

  .about_content .about_img {
    margin: 0 auto;
  }

  .about_content img {
    width: 300px;
  }

  .about_box {
    width: 100%;
    padding: 0 5%;
  }

  /* ワークスエリア */
  .works_main_content li {
    margin: 0;
  }

  .works_main_content li:nth-child(4) {
    margin-top: 80px;
  }

  .works_img {
    text-align: center;
  }

  .works_sub_content {
    margin-top: 80px;
  }

  .works_sub_content .button {
    margin-left: 0;
    margin-top: 40px;
  }

  /* スキルスエリア */
  .skills_content .skill_box {
    margin-right: 0;
    text-align: center;
  }

  .skill_box:nth-child(n+2) {
    margin-top: 88px;
  }
}

/* スマホ用CSS */
@media screen and (max-width:767px) {
  .column_sp {
    display: flex;
    flex-direction: column;
  }

  /* ヘッダー */
  .header_content .button {
    display: none;
  }

  .header_content .menu_area {
    display: flex;
    align-items: center;
    width: 50px;
  }

  .menu_box {
    width: 100%;
    height: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu_box span,
  .menu_box span::before,
  .menu_box span::after {
    content: '';
    display: block;
    height: 3px;
    width: 28px;
    background-color: #ddd;
    position: absolute;
    box-sizing: border-box;
  }

  .menu_box span::before {
    bottom: 8px;
  }

  .menu_box span::after {
    top: 8px;
  }

  /* タイトルエリア */
  .title_content {
    padding: 160px 0 130px;
  }

  .title_content h1 {
    font-size: 80px;
  }

  .about_box > h2 {
    font-size: 30px;
  }


  /* ワークスエリア */
  .works_sub_content > p {
    width: 100%;
  }

  /* アイコンエリア */
  .icon_content {
    padding: 50px 15px;
  }

  .icon {
    width: 100%;
  }
}
